.button {
  padding: 10px 20px;
  background-color: #0288d1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  outline: none;
  &:hover {
    background-color: #01579b;
  }
  &:focus {
    outline: none;
  }
}
